/*==================================
        Formatação geral
===================================*/

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*==================================
        Formatação Cabeçalho
===================================*/

header nav{
    display: flex;
    justify-content: space-between;
    padding: 2vw 2vw 2vw 2vw;
    border-bottom: 1px #C4C4C4 solid;
    align-items: center;
}

header nav h1 {
    font-size: 2rem;
    color: #1090CB;
    font-weight: 900;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 1vw 0 1vw;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 15px 20px 15px 20px;
}

span{
    color: #1090CB;
}

.atual {
    color: #1090CB;
}   

.contato {
    background-color: #1090CB;
    color: white;
    border-radius: 6px;
}

/*==================================
        Formatação Banner
===================================*/

section.banner {
    background-color: #1090CB20;
    display: flex;
}

/*Formatação texto*/

section.banner div.texto{
    padding: 7vw 0 6vw 6vw;
}

section.banner div.texto h2 {
    font-size: 2rem;
    font-weight: 800;
}

section.banner div.texto p{
    color: #5c5c5c;
    padding: 4vw 0 4vw 0;
}

section.banner div.texto ul{
    display: flex;
}

section.banner div.texto ul li{
    margin: 1vw 2vw 1vw 0;
}

section.banner div.texto ul li a{
    padding: 15px 35px 15px 35px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

section.banner div.texto ul li:first-child a{
    background-color: #1090CB;
    color: white;
}

section.banner div.texto ul li:last-child a{
    background-color: white;
    color: #1090CB;
    border: #1090CB 1.5px solid;
}

/*Formatação imagem*/

section.banner div.imagem {
    padding: 1vw 6vw 1vw 0;
}

/*==================================
        Formatação Serviços
===================================*/

section.servicos{
    border-bottom: 1px #5c5c5c solid;
    padding: 3vw 5vw 3vw 5vw;
    align-items: center;
}

section.servicos ul{
    display: flex;
    justify-content: space-between;
}

section.servicos ul li{
    display: flex;
}

/*  Formatação imagem   */

section.servicos div img{
    padding: 1vw;
    margin-right: 1vw;
    border-radius: 20px;
}

section.servicos div.web img{
    background-color: #EFEAFF;
}

section.servicos div.seo img{
    background-color: #ECFFDA;
}

section.servicos div.vr img{
    background-color: #DAE6FF;
}

section.servicos div.mobile img{
    background-color: #FFE5DA;
}

/*  Formatação Texto    */

section.servicos div.texto {
    margin-top: 1.1vw;
}

section.servicos div.texto h3{
    font-weight: 900;
    margin-bottom: 0.3vw;
}

section.servicos div.texto p {
    color: #969696;
}

/*==================================
        Formatação Kodex
===================================*/

section.kodex div.inicio {
    padding: 5vw;
    text-align: center;
}

section.kodex div.inicio h2{
    font-weight: 900;
    font-size: 1.8rem;
}

section.kodex div.inicio p{
    color: #868686;
    margin: 2vw 18vw 0 18vw;
    line-height: 1.4;
}

section.kodex div.partes {
    display: flex;
    margin-top: 2vw;
}

section.kodex div.partes h4 {
    font-size: 2rem;
    font-weight: 900;
    padding: 2vw 5vw 2vw 5vw;
}

section.kodex div.partes p{
    color: #545454;
    padding: 2vw 5vw 2vw 5vw;
}

section.kodex div.partes div.texto {
    margin-top: 8vw;
}

/*==================================
        Formatação Cards
===================================*/

section.cards {
    padding: 1vw;
}

section.cards ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

section.cards ul li {
    margin: 5vw;
    padding: 3vw;
    border-radius: 20px;
}

section.cards ul li h5 {
    font-size: 1.2rem;
    font-weight: 900;
}

section.cards ul li p{
    margin: 2vw 2vw 3vw 2vw;
}

section.cards ul li a{
    padding: 1vw;
    border-radius: 10px;
    text-decoration: none;
}

section.cards ul li:first-child {
    background-color: #F4F4F4;
}

section.cards ul li:first-child p{
    color: #545454;
}

section.cards ul li:first-child a{
    color: white;
    background-color: #1090CB;
}

section.cards ul li:last-child {
    background-color: #1090CB;
}

section.cards ul li:last-child h5{
    color: white;
}

section.cards ul li:last-child p{
    color: white;
}

section.cards ul li:last-child a{
    color: #1090CB;
    background-color: white;
}

/*==================================
        Formatação Forms
===================================*/