/*===============
    Css Reset
=================*/

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

/*=====================
    Formatação geral
=======================*/

html {
    font-size: calc(10px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243D;
}

html body a{
    text-decoration: none;
    color: #21243D;
}

main {
    margin: 0 10vw 0 10vw ;
}

/*================================
    Formatação do topo da página
==================================*/
header {
    margin: 0 5vw 3vw 5vw;
}


header nav ul{
    display: flex;  
    justify-content: right;
}

header nav ul li{
    margin: 2vw 10px 0 10px;
}

header nav ul li.atual a{
    color: #ff6464;
}

/*================================
    Formatação Works
==================================*/

main.works h1{
    font-weight: normal;
    margin: 0 0 3vw 0;
}
main.works section {
    border-bottom: 1px solid #E0E0E0;
    padding: 2vw 0 2vw 0;
}
main.works section:last-child{
    border: none;
}

main.works section p {
    margin: 1vw 0 1vw 0;
}

main.works section p span {
    color: white;
    background-color: #ff6464;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    font-weight: bold;
}
/*================================
    Formatação Home page
==================================*/

section.banner {
    display: flex;
    margin: 6vw 0 3vw 0;
}
section.banner h1 {
    font-size: 2rem;
}

section.banner p {
    margin: 2vw 12vw 0 0;
}

section.banner button {
    background-color: #ff6464;
    color: white;
    font-size: 0.8rem;
    padding: 15px 20px 15px 20px;
    margin: 2vw 0 2vw 0;
    border-radius: 3px;
}

section.rt-post {
    background-color: #EDF7FA;
    padding: 2vw 4vw 2vw 4vw;
    border-radius: 3px;
    
}
section.rt-post h2{
    font-weight: normal;
    margin: 1vw 0 1vw 0;
}

section.rt-post ul{
    display: flex;
}

section.rt-post ul li{
    background-color: white;
    padding: 15px 10px 15px 10px;
    margin: 0 2vw 0 0;
    border-radius: 5px;
}

section.rt-post ul li:last-child {
    margin: 0;
}

section.rt-post ul li p{
    margin: 1vw 0 1vw 0;
}

section.ft-works {
    padding: 2vw 5vw 2vw 5vw;
}

section.ft-works h2 {
    font-weight: normal;
    margin:1vw 0 1vw 0;
}

/* > significa que é para apenas a div filha direta */
section.ft-works >div{
    display: flex;
}

section.ft-works div img{
    margin: 1vw 0 1vw 0
}

section.ft-works div p{
    margin: 1vw 0 1vw 0
}

section.ft-works div div p.ft-works-text {
    color: #8695A4;
}

section.ft-works div div p span {
    color: white;
    background-color: #142850;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
}

/*================================
    Formatação do rodapé
==================================*/

footer{
    text-align: center;
    padding: 0 0 2vw 0;
    font-size: medium;
}
footer nav ul{
    display: flex;
    justify-content: center;
}
footer nav ul li {
    margin: 15px;
    font-size: 2rem;
}

footer nav ul li a span {
    color: #21243D;
}